<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RVL" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.30.0.2)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PDBRVL)));User Id=ituser;Password=ituserpwd;" providerName="System.Data.OleDb" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>